.avatar {
    display: flex;
}

.team {
    display: center;
    text-align: center;
    width: 600px;
    margin-top: 50px;
}
.team-name {
    display: center;
    text-align: center;
    width: 600px;
}

.quote-un {
    display: center;
    text-align: center;
    width: 700px;
}